
/*------------------------MODULO CONTROLES------------------------------*/

.ctrlTblDiv{
	margin-top: 20px;

}
.ctrlTblDiv table{
	border: solid 1px #ccc;
	border-collapse: collapse;

}
.ctrlTblDiv th{
	background: #808000;
	color: #fff;
	height: 30px;
}
.ctrlTblDiv td{
	border-bottom: solid 1px #ccc;
}
.ctrlTblDiv tr:hover{
	background: #ddd;
	cursor: pointer;
}
.controlesCol01{
	padding: 0 20px 0 20px;
	text-align: center;
}.controlesCol02{
	padding: 0 40px 0 0;
	text-align: left;
}
.controlesCol03{
	padding: 0 20px 0 20px;
	text-align: center;
}
.controlesCol03 i{
	margin-right: 10px;
}
.ctrlEditBtn{
	color: #00c;
}
.ctrlDeleteBtn{
	color: #f00;
}
