/*-------------------------------------------BARRA DE PESQUISA------------------------------------*/
#content {
	position: absolute;
	width: 100%;
	left: 2px;
	transition: all .3s ease;
	height: 100%;
	max-height: 65px;
}

#sidebar.menuRecolhido + #content{
	width: 100%;
	left: 2px;
}
/* NAVBAR */
nav {
	background: var(--light);
	height: 64px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	grid-gap: 28px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	box-shadow: 5px 5px 5px #ccc;
}
.toggle-sidebar {
	font-size: 22px;
	cursor: pointer;
	transition: all .8s ease;
	transform: rotate(180deg);
	color: var(--dark-blue);
}
nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
nav .form-group {
	position: relative;
}
nav .form-group input {
	width: 100%;
	background: var(--grey);
	border-radius: 5px;
	border: none;
	outline: none;
	padding: 10px 36px 10px 16px;
	transition: all .3s ease;
}
nav .form-group input:focus {
	box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
nav .form-group .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--dark-gray);
}
nav .nav-link {
	position: relative;
}
nav .nav-link .icon {
	font-size: 18px;
	color: var(--dark);
}
nav .nav-link .badge {
	position: absolute;
	top: -12px;
	right: -12px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light);
	font-size: 10px;
	font-weight: 700;
}
nav .divider {
	width: 1px;
	background: var(--grey);
	height: 12px;
	display: block;
}
nav .profile {
	position: relative;
}
nav .profile P {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	color: #555;
}
nav .profile img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
nav .profile .profile-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	background: var(--light);
	padding: 10px 0;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	border-radius: 10px;
	width: 160px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}
nav .profile .profile-link.show {
	opacity: 1;
	pointer-events: visible;
	top: 100%;
}
nav .profile .profile-link a {
	padding: 10px 16px;
	display: flex;
	grid-gap: 10px;
	font-size: 14px;
	color: var(--dark);
	align-items: center;
	transition: all .3s ease;
}
nav .profile .profile-link a:hover {
	background: var(--grey);
}
nav .profile .profile-link li:hover {
	background: var(--grey);
}
#trf_menu_afRest{
    display: flex;
    position: absolute;
    width: 170px;
    height: 30px;
    opacity: 0;
}






/*------------------------CAIXA DE DIALOGO DAS CONFIGURAÇÕES------------------------------*/
#PnlConfigGeral{
	display:flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	z-index: 9999999999;
}
#ctrlPnlCgeral{
  	border: solid 3px var(--blue);
  	border-radius: 15px;
	background: #fff;
	min-width: 350px;
	max-width: 500px;
	padding: 20px;
}
.ctrlPnlCgeralCbc{
	display: flex;
	align-items: center;
	justify-content: center;
	height:auto;
	margin-bottom: 20px;
	flex-direction: column;
}
#TextCgeral{
	padding: 0 20px 10px 20px;
	text-align: center;
}

.ctrlPnlCgeral{
	display: flex;
	align-items: space-between;
	justify-content: space-between;
	height:auto;
	margin-bottom: 20px;
	flex-direction: column;
	height: 100px;
}
.ctrlPnlCgeral div{
	display: flex;
	align-items: space-between;
	justify-content: space-between;
}
.ctrlPnlCgeral select{
	margin: 0px;
}
.ctrlPnlCgeral label{
	margin-right: 20px;
}
.ctrlPnlCgeral input{
	font-size: 16px;
	width: 125px;
	padding-left: 5px;
}
.ctrlPnlCgeral i{
	margin: 5px;
	cursor: pointer;
}
.BtnCgeral{
	display: flex;
	height: 60px;
	width: 100%;
	border-top: solid 1px #ccc;
	justify-content: space-evenly;
	align-items: center;
	margin: 20px 0 0 0;
}
.ConfigGeraladdEspSlv{
	border: solid 1px #006400;
	border-radius: 5px;
	width: 100px;
	height: 25px;
	margin-bottom: 0;
	cursor: pointer;
	font-size: 15px;
	background: #006400;
	color: #fff;
	opacity: 0.5;
}
.ConfigGeraladdEspSlv:hover{
	opacity: 1;
}
.ConfigGeraladdEspCnc{
	border: solid 1px #222;
	border-radius: 5px;
	width: 100px;
	height: 25px;
	margin-bottom: 0;
	cursor: pointer;
	font-size: 15px;
	background: #555;
	color: #fff;
	opacity: 0.5;
}
.ConfigGeraladdEspCnc:hover{
	opacity: 1;
}


/*______________________________________________________________________________________________*/

