#pnlInicio{
    display: inline;
    width: 100%;
}

#pnlInicio header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
}

#pnlInicio section{
    display: flex;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
    background: #ddd;
    border-radius: 10px;
}

#pnlInicio section main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    flex-grow: 1;
}

.myChartDiv{
    display: flex;
    width: 100%;
    border: solid 1px #aaa;
    justify-content: space-around;
}

.myChartGrafic{
    margin-bottom: 30px;
    margin-top: 20px;
    padding-bottom: 5px;
}

@media (max-width: 600px) {
    .myChartTitle{
        display: none;
    }
}